header{
  display:flex;
  justify-content: space-between;
}
main{
  display:flex;
  justify-content: center;
  align-items: center;
}

#hunger {
    width: 200px;
    height: 20px;
    background-color: red;
}

.gridBox{
  border:1px solid black;
  background-color: rgb(107, 219, 213);
  box-sizing: border-box;
  display:flex;
  justify-content: center;
  align-items: center;

  width:36px;
  height:36px;
}
.shrimpRow, .shrimpCol{
  width:32px;
  height:32px;
}
.snailA{
  width: 32px;
  height: 32px;

  border-radius: 50%;
  background-color: grey;
}
.poop{
  width: 32px;
  height: 32px;

  border-radius: 50%;
  background-color: brown;
}
.squid{
  width: 32px;
  height: 32px;
}
.food{
    width: 32px;
    height:32px;
}
.starfish{
  width:96px;
  height:96px;
  position:absolute;

  background-color: brown;
  border-radius: 50%;
}
#player{
  width: 32px;
  height:32px;
}
#gameWindow{
  border:1px solid black;
  box-sizing: content-box;
  display:flex;
  flex-wrap:wrap;
  width: 720px;
  height:720px;
}
